<section class="category">
    <div class="container">
        <h2 class="category-title">Calories Energy Balance</h2>
        <p class="category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <ul class="category-list">
            <li class="category-item">
                <div class="category-title-container">
                    <p class="category-item-text">Starters</p>
                    
                    <svg class="icon-dark" width="48" height="28">
                        <use href="img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>

                <a href="">
                    <picture class="category-img">
                        <source srcset="../img/img-starters@1x.webp 1x,
                                        ../img/img-starters@2x.webp 2x" />
                        <img src="../img/img-starters@1x.webp" alt="diches" loading="lazy" width="508" height="711" />
                    </picture>
                </a>
            </li>

            <li class="category-item">
                <div class="category-title-container">
                    <p class="category-item-text">Mains</p>
                
                    <svg class="icon-dark" width="48" height="28">
                        <use href="img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            
                <a href="">
                    <picture class="category-img">
                        <source srcset="../img/img-mains@1x.webp 1x,
                                        ../img/img-mains@2x.webp 2x" />
                        <img src="../img/img-mains@1x.webp" alt="diches" loading="lazy" width="508" height="711" />
                    </picture>
                </a>
            </li>

            <li class="category-item">
                <div class="category-title-container">
                    <p class="category-item-text">Soups</p>
                
                    <svg class="icon-dark" width="48" height="28">
                        <use href="img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            
                <a href="">
                    <picture class="category-img">
                        <source srcset="../img/img-soups@1x.webp 1x,
                                         ../img/img-soups@2x.webp 2x" />
                        <img src="../img/img-soups@1x.webp" alt="diches" loading="lazy" width="508" height="711" />
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>