<section class="cook">
    <div class="container">
        <picture class="main-img-cook">
            <source srcset="../img/img-cook@1x.webp 1x,
                                    ../img/img-cook@2x.webp 2x" />
            <img src="../img/img-cook@1x.webp" alt="cook" loading="lazy" width="935" height="933" />
        </picture>
        <div class="text">
            <h2 class="cook-title">Excellent<br> cook</h2>
            
            <p class="cook-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Purus lorem id penatibus imperdiet. Turpis egestas ultricies<br>
                purus auctor tincidunt lacus nunc.</p>
        </div>
    </div>
</section>