<section class="features">
    <div class="container">
        <ul class="features-list">
            <li class="features-item">
                <svg class="icon-features" width="260" height="260">
                    <use href="img/sprite.svg#icon-fish"></use>
                </svg>
                <h4 class="features-item-title">Premium Quality</h4>
                <p class="features-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
            </li>
            <li class="features-item">
                <svg class="icon-features" width="260" height="260">
                    <use href="img/sprite.svg#icon-carrot"></use>
                </svg>
                <h4 class="features-item-title">Seasonal Vegetables</h4>
                <p class="features-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
            </li>
            <li class="features-item">
                <svg class="icon-features" width="260" height="260">
                    <use href="img/sprite.svg#icon-lemon"></use>
                </svg>
                <h4 class="features-item-title">Fresh Fruit</h4>
                <p class="features-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
            </li>
        </ul>
    </div>
</section>