<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="index.html" class="logo-link">
        Food<br>
        Zero.
      </a>

      <div class="footer-contact">
        <h5>Contact</h5>

        <a href="tel:+1+86852346000" class="footer-tel">+1+86852346000</a>
        <a href="mail:info@foodzero.com" class="footer-mail">info@foodzero.com</a>

        <address class="footer-address">1959 Sepulveda Blvd.<br>
        Culver City, CA, 90230</address>
      </div>

      <div class="footer-form-container">
        <h5>Never Miss a Recipe</h5>
        <form class="footer-form">
          <input class="form-input-email" type="email" name="email" placeholder="Email Address">
          <button class="form-btn" type="submit">Subscribe</button>
        </form>
        <p>Join our subscribers and get best recipe delivered each week!</p>
      </div>
    </div>


    <div class="footer-bottom">
      <p>© 2020 Zero Inc. All rights Reserved</p>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="https://www.instagram.com" target="_blank" class="social-link">
            <svg width="34" height="34" class="icon-light">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a href="https://www.instagram.com" target="_blank" class="social-link">
            <svg width="34" height="34" class="icon-light">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a href="https://www.instagram.com" target="_blank" class="social-link">
            <svg width="34" height="34" class="icon-light">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a href="https://www.instagram.com" target="_blank" class="social-link">
            <svg width="34" height="34" class="icon-light">
              <use href="../img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>
</footer>
