<footer class="footer">
  <div class="container">
    <div>
      <svg class="icon" width="307" height="115">
        <use href="img/sprite.svg#icon-logo" class="icon-logo"></use>
      </svg>

      <ul>Contact
        <li>+1+86 852 346 000
        info@foodzero.com</li>
        <li>1959 Sepulveda Blvd.
        Culver City, CA, 90230</li>
      </ul>

      <form action=""></form>
    </div>
    <div>
      <p>© 2020 Zero Inc. All rights Reserved</p>
      <ul>Social</ul>
    </div>
  </div>
</footer>
