<section class="hero">
  <div class="container">
    <div class="hero-first">
      <h1 class="hero-title">Healthy Eating<br>
        is important<br>
        part of lifestyle</h1>
      
      <p class="hero-text-main">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Neque congue arcu</p>
      
      <h4 class="scroll">Scroll --------------------</h4>
      
      <picture class="main-img">
        <source srcset="../img/img-1@1x.webp 1x,
                            img/about-me-mobil-2x.webp 2x" />
        <img src="../img/img-1@1x.webp" alt="diches" loading="lazy" width="792" height="931" />
      </picture>

      <ul class="img-list">
        <li>
          <picture class="img-spice">
            <source srcset="../img/img1-1@1x.webp 1x,
                            ../img/img1-1@2x.webp 2x" />
            <img src="../img/img1-1@1x.webp" alt="spice-1" loading="lazy" width="250" height="240" />
          </picture>
        </li>
        <li>
          <picture class="img-spice">
            <source srcset="../img/img1-2@1x.webp 1x,
                            ../img/img1-2@2x.webp 2x" />
            <img src="../img/img1-2@1x.webp" alt="spice-2" loading="lazy" width="250" height="240" />
          </picture>
        </li>
        <li>
          <picture class="img-spice">
            <source srcset="../img/img1-3@1x.webp 1x,
                            ../img/img1-3@2x.webp 2x" />
            <img src="../img/img1-3@1x.webp" alt="spice-3" loading="lazy" width="250" height="240" />
          </picture>
        </li>
      </ul>
    </div>
    <div class="hero-second">
      <div class="image-box-1">
        <picture class="img-box">
          <source srcset="../img/img-hero-2@1x.webp 1x,
                          ../img/img-hero-2@2x.webp 2x" />
          <img src="../img/img-hero-2@1x.webp" alt="diches-2" loading="lazy" width="792" height="560" />
        </picture>

        <h4 class="image-box-title">Start to plan your diet today</h4>

        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Neque congue arcu</p>
      </div>


      <div class="image-box-2">
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Neque congue arcu</p>

        <picture class="img-box">
          <source srcset="../img/img-hero-3@1x.webp 1x,
                          ../img/img-hero-3@2x.webp 2x" />
          <img src="../img/img-hero-3@1x.webp" alt="diches-2" loading="lazy" width="792" height="560" />
        </picture>
      </div>
    </div>
  </div>
</section>