<section class="menu" id="menu">
    <div class="container">
        <picture class="main-img-menu">
            <source srcset="../img/img-menu@1x.webp 1x,
                            ../img/img-menu@2x.webp 2x" />
            <img src="../img/img-menu@1x.webp" alt="cook" loading="lazy" width="935" height="933" />
        </picture>
        <h2 class="menu-title">Our Menu</h2>
        <p class="menu-text-main">This is a section of your menu. Give your section<br> a brief description</p>

        <ul class="menu-list">
            <li class="menu-item">
                <p class="menu-price">$20</p>
                <h3 class="menu-name">Deep Sea Snow White Cod Fillet</h3>
                <p class="menu-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li class="menu-item">
                <p class="menu-price">$22</p>
                <h3 class="menu-name">Steak With Rosemary Butter</h3>
                <p class="menu-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li class="menu-item">
                <p class="menu-price">$18</p>
                <h3 class="menu-name">Cucumber Salad</h3>
                <p class="menu-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li class="menu-item">
                <p class="menu-price">$90</p>
                <h3 class="menu-name">Natural Wine Pairing</h3>
                <p class="menu-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
        </ul>
    </div>
</section>