<section class="post">
    <div class="container">
        <ul>
            <li>
                <picture class="">
                <source srcset="../img/img-1@1x.webp 1x,
                                        img/about-me-mobil-2x.webp 2x" />
                <img src="../img/img-1@1x.webp" alt="diches" loading="lazy" width="792" height="931" />
                </picture>

                <div>
                    <svg class="icon-avatar" width="307" height="115">
                        <use href="img/sprite.svg#"></use>
                    </svg>
                

                    <h4 class="post-title">Fruit and vegetables and protection against diseases</h4>
                    
                    <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <button type="button">Read More
                        <svg class="icon-avatar" width="307" height="115">
                            <use href="img/sprite.svg#"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li>
                <picture class="">
                    <source srcset="../img/img-1@1x.webp 1x,
                                                    img/about-me-mobil-2x.webp 2x" />
                    <img src="../img/img-1@1x.webp" alt="diches" loading="lazy" width="792" height="931" />
                </picture>
            
                <div>
                    <svg class="icon-avatar" width="307" height="115">
                        <use href="img/sprite.svg#"></use>
                    </svg>
            
            
                    <h4 class="post-title">Fruit and vegetables and protection against diseases</h4>
            
                    <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            
                    <button type="button">Read More
                        <svg class="icon-avatar" width="307" height="115">
                            <use href="img/sprite.svg#"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>