<section class="post">
    <div class="container">
        <ul class="post-list">
            <li class="post-item">
                <picture>
                <source srcset="../img/img-post-1@1x.webp 1x,
                                ../img/img-post-1@2x.webp 2x" />
                <img src="../img/img-post-1@1x.webp" alt="diches" loading="lazy" width="792" height="931" />
                </picture>

                <p class="post-img-text">Fashion</p>

                <div class="post-info">
                    <div class="post-bloger">
                        <picture>
                            <source srcset="../img/avatar-julie@1x.webp 1x,
                                            ../img/avatar-julie@2x.webp 2x" />
                            <img src="../img/avatar-julie@1x.webp" alt="diches" loading="lazy" width="60" height="60" />
                        </picture>

                        <ul class="post-bloger-list">
                            <li>Julie Christie</li>
                            <li>October 17,2021</li>
                            <li>3:33 pm</li>
                            <li>2 comments</li>
                        </ul>
                    </div>
                    
                

                    <h4 class="post-title">Fruit and vegetables and protection against diseases</h4>
                    
                    <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <button type="button" class="btn-post">Read More
                        <svg class="icon-light" width="48" height="28">
                            <use href="img/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="post-item">
                <picture>
                    <source srcset="../img/img-post-2@1x.webp 1x,
                                    ../img/img-post-2@2x.webp 2x" />
                    <img src="../img/img-post-2@1x.webp" alt="diches" loading="lazy" width="792" height="931" />
                </picture>
            
                <p class="post-img-text">Fashion</p>
            
                <div class="post-info">
                    <div class="post-bloger">
                        <picture>
                            <source srcset="../img/avatar-dianne@1x.webp 1x,
                                            ../img/avatar-dianne@2x.webp 2x" />
                            <img src="../img/avatar-dianne@1x.webp" alt="diches" loading="lazy" width="60" height="60" />
                        </picture>
            
                        <ul class="post-bloger-list">
                            <li>Dianne Russell</li>
                            <li>November 30,2021</li>
                            <li>2:47 pm</li>
                            <li>5 comments</li>
                        </ul>
                    </div>
            
            
            
                    <h4 class="post-title">Fruit and vegetables and protection against diseases</h4>
            
                    <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            
                    <button type="button" class="btn-post">Read More
                        <svg class="icon-light" width="48" height="28">
                            <use href="img/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>