<section class="reservation" id="reservation">
    <div class="container">
        <h2 class="reservation-title">Make a Reservation</h2>
        <p class="reservation-text">Get in touch with restaurant</p>

        <form class="reservartion-form">
            <input type="date" name="date">
            <input type="time" name="time">
            <input type="text" name="person">
        </form>

        <button class="btn-reservation" type="submit">Book Now</button>
    </div>
</section>