<section class="reviews">
    <div class="container">
        <h4 class="reviews-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet. Turpis egestas ultricies
        purus Lorem ipsum dolor sit amet.</h4>

        <div>
            <picture class="avatar-img">
                <source srcset="../img/avatar-john@1x.webp 1x,
                                ../img/avatar-john@2x.webp 2x" />
                <img src="../img/avatar-john@1x.webp" alt="review-avatar" loading="lazy" width="170" height="170" />
            </picture>

            <h5>John Doe</h5>
            <p>Bloger</p>
        </div>

        <button></button>

        <picture class="quotes">
            <source srcset="../img/quotes@1x.webp 1x,
                            ../img/quotes@2x.webp 2x" />
            <img src="../img/quotes@1x.webp" alt="review-avatar" loading="lazy" width="282" height="234" />
        </picture>
    </div>
</section>