.cook {
    background-color: #EBF0E4;
    padding-top: 222px;
    height: 908px;
}

.cook-title {
    margin-bottom: 18px;
}

.cook .container {
    display: flex;
    justify-content: space-between;
}

.text {
    right: 0;
    top: 0;
}

.cook-text {
    color: #5E6600;
}

.main-img-cook {
    left: 0;
    top: 12px;
}