.footer {
  padding-top: 132px;
  padding-bottom: 74px;
  background-color: #233000;
}

.footer-top {
  display: flex;
  align-items: center;
  padding-bottom: 137px;
  border-bottom: 2px dashed #EBF0E4;
}

.logo-link {
  font-family: "Rufina", sans-serif;
  font-weight: 700;
  font-size: 68px;
  color: #EBF0E4;
  margin-right: 238px;
}

.footer-contact {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 216px;
}

.footer-tel {
  color: #EBF0E4;
}

.footer-mail {
  margin-bottom: 28px;
  color: #EBF0E4;
}

.footer-contact h5{
  color: #EBF0E4;
  margin-bottom: 55px;
}

.footer-address {
  color: #EBF0E4;
  font-style: normal;
}

.footer-form-container h5{
  color: #EBF0E4;
  margin-bottom: 55px;
}

.footer-form {
  display: flex;
  gap: 28px;
  margin-bottom: 16px;
}

.form-input-email {
  background-color: transparent;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #EBF0E4;
  outline: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #EBF0E4;
  width: 443px;
  height: 96px;
}

.form-btn {
  border-radius: 40px;
  padding: 20px 46px;
  background-color: #5E6600;
  font-family: "Rufina", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #EBF0E4;
}

.footer-form-container p {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #EBF0E4;
}

.footer-bottom {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  color: #EBF0E4;
}

.footer-social-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.footer-social-item {
  width: 48px;
  height: 48px;
    background-color: #5E6600;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
}
