.hero {
    padding-top: 102px;
    background-color: #233000;
}

.hero-first {
    position: relative;
}

.hero-title {
    font-family: "Rufina", sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 148px;
    line-height: 103%;
    color: #fff;
    margin-bottom: 50px;
    z-index: 1;
}

.hero-text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #EBF0E4;
}

.hero-text-main {
    padding-bottom: 612px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #EBF0E4;
}

.scroll {
    font-family: "Rufina", sans-serif;
    position: absolute;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    color: #fff; 
    left: -256px;
    bottom: 250px;
    transform: rotate(90deg);
}

.main-img {
    position: absolute;
    top: 124px;
    right: 0;
    z-index: 0;
}

.img-list {
    position: absolute;
    right: 285px;
    display: flex;
    flex-direction: row;
    gap: 44px;
    bottom: 90px;
}

.hero-second {
    padding-bottom: 222px;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 344px;
}

.image-box-title {
    font-family: "Rufina", sans-serif;
    font-weight: 700;
    font-size: 68px;
    line-height: 124%;
    color: #fff;
}

.image-box-1 {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.image-box-2 {
    display: flex;
    flex-direction: column;
    gap: 84px;
}