.menu {
    padding-top: 176px;
    padding-bottom: 218px;
    position: relative;
}

.main-img-menu {
    position: absolute;
    right: 0;
    top: 0;
}

.menu-text-main {
    margin-bottom: 158px;
    color: #5E6600;
}

.menu-text {
    color: #5E6600;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 108px;
}

.menu-item {
    width: 792px;
}

.menu-price {
    font-family: "Rufina", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-align: right;
    border-bottom: 4px dashed #5E6600;
    color: #5E6600;
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.menu-title {
    margin-bottom: 18px;
}

.menu-name {
    margin-bottom: 24px;
}